@model RegisterViewModel

<form class="form" asp-controller="Auth" asp-action="Register" method="post" autocomplete="off">
    <div class="control">
        <h1>Register</h1>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="control block-cube block-input">
        <input asp-for="Name" type="text" placeholder="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
    </div>
    <div class="control block-cube block-input">
        <input asp-for="Email" type="text" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
    </div>
    <div class="control block-cube block-input">
        <input asp-for="Password" type="password" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
    </div>
    <div class="control block-cube block-input">
        <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
    </div>
    <button class="btn block-cube block-cube-hover" type="submit">
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
        <div class="text">Register</div>
    </button>
    <div class="credits">
        <a asp-action="Login">Already have an account? Login</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}