@model NewBlogViewModel

<form class="form" asp-controller="Home" asp-action="AddBlog" method="post" autocomplete="off">
    <div class="control">
        <h1>Add a New Blog</h1>
    </div>
    <div class="control block-cube block-input">
        <input asp-for="Title" type="text" placeholder="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
    </div>
    <div class="control block-cube block-input">
        <textarea asp-for="Content" placeholder="Content" rows="10"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
    </div>
    <button class="btn block-cube block-cube-hover" type="submit">
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
        <div class="text">Submit</div>
    </button>
</form>